@font-face { 
    font-family: 'MyWebFont';
	src: url('andvari.woff') format('woff');
}

body {
	font-family: 'OpenSans-Semibold', Arial, sans-serif;
}
/* TREMBLE */
.tremble{
    font-family: "Anton", sans-serif;
    font-size: 50pt;
    width:200px;
}
.tremble:hover{
    animation-duration: 0.5s;
    animation-name: tremble;
    animation-iteration-count: infinite; 
}
/* based on W3schools tutorial: https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes tremble{
    0% {transform: translate(-1px, 1px); }
  20% {transform: translate(-2px, 2px); }
  40% {transform: translate(3px, -2px); }
  60% {transform: translate(-1px, -3px); }
  80% {transform: translate(1px, -2px); }
  100% {transform: translate(2px, 0px); }
}

/* FALL */

.flutter{
    font-family: milka-baked, Tahoma, sans-serif;;
    font-size: 50pt;
    width:100px;
}
/* used stackoverflow to see how to stop easing at the end of animation: 
    https://stackoverflow.com/questions/48182447/why-does-keyframe-based-animation-slow-down-in-the-end ,
stackoverflow to stretch/scale text:
    https://stackoverflow.com/questions/6351013/can-i-stretch-text-using-css
also w3schools to learn more about timing function:
    https://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp*/
.flutter:hover{
    animation-duration: 0.3s;
    animation-name: flutter;
    animation-timing-function:linear;
    animation-iteration-count: infinite; 
}
@keyframes flutter{
50%{transform: scale(1,0.2);}
100%{transform:scale(1,1);}
}

/* SLIDE */
.slide{
    font-family: 'MyWebFont', Helvetica, sans-serif;
    font-size: 50px;
}
.slide:hover{
    animation-duration: 2s;
    animation-name: slide;
    animation-iteration-count: infinite; 
}
@keyframes slide{
    50%{transform: translate(50%);}
    100%{transform: translate(0px,0px);}
    }